.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #B2DFDB;
    /* f8dfff */
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    font-family: 'Century Gothic';
  }